
.lep-effect {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    padding: 5px 5px;
    margin: 2px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.exercise {
    background-color: rgb(244, 204, 204);
    border: 2px solid red;
    min-height: 30px;
}

.mental-stimulation {
    background-color: rgb(201, 218, 248);
    border: 2px solid blue;
    min-height: 30px;
}

.dumb-entertainment {
    background-color: rgb(217, 234, 211);
    border: 2px solid green;
    min-height: 30px;
}

.food {
    background-color: rgb(255, 242, 204);
    border: 2px solid yellow;
    min-height: 30px;
}

.booze {
    background-color: rgb(217, 210, 233);
    border: 2px solid plum;
    min-height: 30px;
}

.sleep {
    background-color: rgb(204, 204, 204);
    border: 2px solid black;
    min-height: 30px;
}

.inactive {
    opacity: 0.5;
}
